.status-buttons{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.status-buttons button{
    padding: 6px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: "Arial", sans-serif;
    font-size: 1rem;
}
.favorite-btn button{
    display: none;
}

@media (min-width: 600px) {
    .status-buttons{ gap: 80px;}
}