.nav-icon {
  color: var(--nav-icon-color);
  font-size: 30px;
}

.nav-icon.active {
  color: var(--nav-icon-active);
}

.navbar {
    width: 90vw;
    max-width: 300px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;       
    z-index: 1000;            

    background: rgba(193, 211, 213, 0.35);
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(166, 201, 205, 0.24);
}
