:root {
  --bg-color: #fff;
  --text-color: #000;
  --nav-icon-color: #494949;
  --nav-icon-active: #000;
}

[data-theme="dark"] {
  --bg-color: #111;
  --text-color: #fff;
  --nav-icon-color: #8da7ad;
  --nav-icon-active: #6d8085;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}